<!--this doc formats homepage
shows what site offers
provides links to the 'add' and 'view' sites of page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1 style="color: rgb(184, 120, 223);">Product Management System</h1>

<p style="line-height: 1.6; margin: 20px;">Welcome to the eCommerce Product Management System! Feel free to use this site as a means to keep track of your available products, prices, codes, etc.</p>

<!--introduces site and offers-->
<div class="course-details" style="    margin-top: 20px;
background-color: #ffffff;
padding: 15px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>What We Offer:</h2>
    <ul>
        <li><strong>Add:</strong> Add new products or merchandise to your database</li>
        <li><strong>View:</strong> View products currently stored in your system.</li>
    </ul>
</div>

<!--links to different tasks-->
<div class="course-details" style="    margin-top: 20px;
background-color: #ffffff;
padding: 15px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Please Explore the Following:</h2>
    <a href="/add_product">Add Product Data</a>
    <br>
    <a href="/view_product">View and Search Product Data</a>
</div>

<p style="line-height: 1.6; margin: 20px;">Thank you for using our site!</p>
</body>
</html>
